<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--add key="ConnectionString" value="SPYttll3TH3/AYMhlKKNlRUiUB98HhzZsy19Sm47j8wShvMKJV7Nfk5QethIrxTvgkbVPBLH/x6zaZ753sMZIRC/9vP+bwFdqLrzS42Gu0o="/-->
    <add key="ConnectionString" value="rYq6co1g+SIa1ZogMe3a9mkvQ6+lca8SmhGDBQLrSoYrPRg/1p3/2otz40vVkQUWpPcD1Wthmqhzu7z+IrH/K85X7lAL7A3je9OD+/PPf/5lUJ9mSXZrP1zgWbrUipVN"/>
    
    <add key="AccessKey" value="AKIAIEQJQDDIQVX3QVLA"/>
    <add key="SecretKey" value="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"/>
  </appSettings>
</configuration>